.root{
    position: relative;
    left: -120px;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.111);
    padding: 12px 20px;
    width: 350px;
    border-radius: 10px;
    font-style: 16px;
    padding-left: 40px;
    transition:  all 0.15s ease-in-out;
    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    
}

@media (max-width: 1260px) {
    .root{
        margin-left: 60px;
        left: -70px;
    }
}
@media (max-width: 1079px) {
    .root{
        left: -30px;
    }
}

@media (max-width: 411px) {
    .root{
        max-width: 300px;
    }
    .input {
        max-width: 300px;
    }
}

.icon{
    height: 23px;
    width: 23px;
    opacity: 0.4;
    position: absolute;
    left: 14px;
    top: 10px;
}

.close{
    height: 22px;
    width: 22px;
    opacity: 0.4;
    position: absolute;
    left: 320px;
    top: 10px;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
